<div class="container col-5">
    <form class="mt-4" #login="ngForm" (ngSubmit)="handleLogin(login)">
        <div class="form-group mt-4">
            <input type="text" id="username" ngModel name="username" placeholder="Username" class="form-control" />
        </div>
        <div class="form-group mt-4">
            <input type="text" id="password" ngModel name="password" placeholder="Password" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary col-12 mt-4">Submit</button>
        <button type="button" class="btn btn-primary col-12 mt-4" (click)="goBack()">
      Cancel
    </button>
        <button type="button" class="btn btn-primary col-12 mt-4">Refresh</button>
    </form>
</div>
<router-outlet></router-outlet>