<div>
  <div class="row mt-4">
    <div *ngFor="let club of clubs" class="col-4">
      <div class="card text-white bg-dark mb-3 m-4" style="max-width: 18rem">
        <div class="card-header">{{ club.club.email }}</div>
        <div class="card-body">
          <h5 class="card-title">{{ club.club.name }}</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <button class="btn btn-info" (click)="clubDetails(club.id.id)">
            Details
          </button>
        </div>
      </div>
    </div>
  </div>
  <button
    class="addClubBtn btn btn-danger"
    (click)="addClub()"
    *ngIf="addClubCheck()"
  >
    Add club
  </button>
</div>
