<div
  class="card text-white bg-dark mb-3 m-4"
  style="max-width: 18rem"
  *ngIf="club"
>
  <div class="card-header row">
    <h5 class="card-title col-9">{{ club.club.name }}</h5>
    <button
      class="btn btn-outline-success col-3"
      (click)="joinClubHandler()"
      *ngIf="adminCheck()"
    >
      Join
    </button>
  </div>
  <div class="card-body">
    <p class="card-text">Meeting place - {{ club.club.meetingPlace }}</p>
    <p class="card-text">Starting - {{ club.club.meetingTime }}</p>
    <p class="card-text">Phone - {{ club.club.phone }}</p>
    <p class="card-text">Website - {{ club.club.website }}</p>
    <p class="card-text">Cotanct us at - {{ club.club.email }}</p>
    <p class="card-text">Price - ${{ club.club.price }}</p>
    <div *ngIf="actionsCheck()">
      <button class="btn btn-outline-danger" (click)="handleDelete(club.id.id)">
        Delete
      </button>
      <button class="btn btn-outline-primary m-2" (click)="open(content)">
        Members
      </button>
    </div>
  </div>
</div>
<ng-template #content let-modal>
  <div class="modal-header" *ngIf="club">
    <h4 class="modal-title" id="modal-basic-title">Club members</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group" *ngFor="let membership of memberships">
        <div class="input-group">
          <div class="input-group-append">
            <strong
              >{{ membership.memberResponse.name }}
              {{ membership.memberResponse.surname }}</strong
            >
          </div>
          <div>
            <button
              class="btn btn-sm btn-danger"
              [ngStyle]="{
                position: 'absolute',
                top: '0px',
                right: '0px'
              }"
              (click)="handleDeleteMembership(membership.membershipId)"
            >
              Remove
            </button>
          </div>
        </div>
        <hr />
      </div>
    </form>
  </div>
</ng-template>
