<div class="container col-6">
  <form #update="ngForm" (ngSubmit)="handleUpdate(update)" *ngIf="member">
    <div class="form-group">
      <h5 for="member-name">Member name: {{ member.name }}</h5>
      <input
        required
        type="text"
        id="member-name"
        ngModel
        name="name"
        placeholder="Name"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <h5 for="member-surname">Member surname: {{ member.surname }}</h5>
      <input
        required
        type="text"
        id="member-surname"
        ngModel
        name="surname"
        placeholder="Surname"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <h5 for="member-age">Member age: {{ member.age }}</h5>
      <input
        required
        type="number"
        id="member-age"
        ngModel
        name="age"
        placeholder="Age"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <h5 for="member-email">Member email: {{ member.email }}</h5>
      <input
        required
        type="email"
        id="member-email"
        ngModel
        name="email"
        placeholder="Email"
        class="form-control"
      />
    </div>

    <div class="form-group">
      <h5 for="member-phone">Member phone: {{ member.phone }}</h5>
      <input
        required
        type="number"
        id="member-phone"
        ngModel
        name="phone"
        placeholder="Phone-number"
        class="form-control"
      />
    </div>

    <div class="form-group">
      <h5 for="member-url">Member picture: {{ member.image }}</h5>
      <input
        required
        type="text"
        id="member-picture"
        ngModel
        name="picture"
        placeholder="Url"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <h5 for="member-gender">Member gender: {{ member.gender }}</h5>
      <input
        required
        type="text"
        id="member-gender"
        ngModel
        name="gender"
        placeholder="Gender"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <h5 for="member-occupation">
        Member occupation: {{ member.occupation }}
      </h5>
      <input
        required
        type="text"
        id="member-occupation"
        ngModel
        name="occupation"
        placeholder="Occupation"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <h5 for="member-company">Member company: {{ member.company }}</h5>
      <input
        required
        type="text"
        id="member-company"
        ngModel
        name="company"
        placeholder="Company"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <h5 for="member-username">Member username: {{ member.username }}</h5>
      <input
        required
        type="text"
        id="member-username"
        ngModel
        name="username"
        placeholder="Username"
        class="form-control"
      />
    </div>

    <div>
      <button
        [disabled]="!update.valid"
        type="submit"
        class="btn btn-primary col-5"
      >
        Save
      </button>
      <button
        type="button"
        class="btn btn-secondary col-5 m-2"
        (click)="goBack()"
      >
        Cancel
      </button>
    </div>
  </form>
</div>

<router-outlet></router-outlet>
