<div class="container col-6">
  <form #register="ngForm" (ngSubmit)="handleRegister(register)">
    <div class="form-group">
      <input
        required
        type="text"
        id="member-name"
        ngModel
        name="name"
        placeholder="Name"
        class="form-control m-2"
      />
    </div>
    <div class="form-group">
      <input
        required
        type="text"
        id="member-surname"
        ngModel
        name="surname"
        placeholder="Surname"
        class="form-control m-2"
      />
    </div>
    <div class="form-group">
      <input
        required
        type="number"
        id="member-age"
        ngModel
        name="age"
        placeholder="Age"
        class="form-control m-2"
      />
    </div>
    <div class="form-group">
      <input
        email
        required
        type="email"
        id="member-email"
        ngModel
        name="email"
        placeholder="Email"
        class="form-control m-2"
      />
    </div>

    <div class="form-group">
      <input
        required
        type="number"
        id="member-phone"
        ngModel
        name="phone"
        placeholder="Phone-number"
        class="form-control m-2"
      />
    </div>
    <div class="form-group">
      <input
        required
        type="text"
        id="member-gender"
        ngModel
        name="gender"
        placeholder="Gender"
        class="form-control m-2"
      />
    </div>
    <div class="form-group">
      <input
        required
        type="text"
        id="member-occupation"
        ngModel
        name="occupation"
        placeholder="Occupation"
        class="form-control m-2"
      />
    </div>
    <div class="form-group">
      <input
        required
        type="text"
        id="member-company"
        ngModel
        name="company"
        placeholder="Company"
        class="form-control m-2"
      />
    </div>
    <div class="form-group">
      <input
        required
        type="text"
        id="member-username"
        ngModel
        name="username"
        placeholder="Username"
        class="form-control m-2"
      />
    </div>
    <div class="form-group">
      <input
        required
        type="password"
        id="member-password"
        ngModel
        name="password"
        placeholder="Password"
        class="form-control m-2"
      />
    </div>
    <!-- <div class="form-group">
      <form>
        <input type="file" accept="image/*" (change)="onFileSelected($event)" />
      </form>
    </div> -->
    <div>
      <button
        type="submit"
        class="btn btn-primary col-5 m-2"
        [disabled]="!register.valid"
      >
        Save
      </button>
      <button
        type="button"
        class="btn btn-secondary col-5 m-2"
        (click)="goBack()"
      >
        Cancel
      </button>
    </div>
  </form>
</div>

<router-outlet></router-outlet>
