<div class="container">
  <table class="table table-striped table-dark mt-4">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col">Email</th>
        <th scope="col">Age</th>
        <th scope="col">Gender</th>
        <th scope="col">Occupaiton</th>
        <th scope="col">Company</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody *ngFor="let member of members">
      <tr>
        <td>
          <!-- src="https://eu.ui-avatars.com/api/?name={{ member.member.name }}+{{
            member.member.surname
          }}" -->
          <img
            src="http://localhost:8080/api/members/avatar/{{ member.id.id }}"
            width="30px"
            height="30px"
          />
        </td>
        <td>{{ member.member.name }}</td>
        <td>{{ member.member.surname }}</td>
        <td>{{ member.member.email }}</td>
        <td>{{ member.member.age }}</td>
        <td>{{ member.member.gender }}</td>
        <td>{{ member.member.occupation }}</td>
        <td>{{ member.member.company }}</td>

        <td>
          <div>
            <button class="btn btn-info" (click)="editMember(member.id.id)">
              Edit
            </button>
            <button
              class="btn btn-danger m-2"
              (click)="handleDelete(member.id.id)"
            >
              Delete
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<router-outlet></router-outlet>
