h1 {
  background-color: black;
  padding: 20px;
  text-align: center;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

mat-form-field, mat-select {
  color: white;
}
