<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">Navbar</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link active" aria-current="page" routerLink="/members"
          >Members</a
        >
      </li>

      <li class="nav-item">
        <a class="nav-link active" aria-current="page" routerLink="/clubs"
          >Clubs</a
        >
      </li>
      <div
        [ngStyle]="{
          position: 'absolute',
          top: '10px',
          right: '20px',
          display: 'flex',
          flexDirection: 'row'
        }"
      >
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/login"
            >Signin</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/register"
            >Signup</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/"
            >Logout</a
          >
        </li>
      </div>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
