<div class="container col-6">
  <form #addClub="ngForm" (ngSubmit)="handleAddClub(addClub)">
    <div class="form-group row">
      <input
        required
        type="text"
        id="name"
        ngModel
        name="name"
        placeholder="Name"
        class="form-control col-6 m-2"
      />
    </div>
    <div class="form-group row">
      <input
        required
        type="text"
        id="logo"
        ngModel
        name="logo"
        placeholder="Url"
        class="form-control col-6 m-2"
      />
    </div>
    <div class="form-group row">
      <input
        required
        type="text"
        id="email"
        ngModel
        name="email"
        placeholder="Email"
        class="form-control col-6 m-2"
      />
    </div>
    <div class="form-group row">
      <input
        required
        type="number"
        id="phone"
        ngModel
        name="phone"
        placeholder="Phone"
        class="form-control col-6 m-2"
      />
    </div>
    <div class="form-group row">
      <input
        required
        type="number"
        id="did"
        ngModel
        name="districtId"
        placeholder="Did"
        class="form-control col-6 m-2"
      />
    </div>
    <div class="form-group row">
      <input
        required
        type="number"
        id="uid"
        ngModel
        name="unionId"
        placeholder="Uid"
        class="form-control col-6 m-2"
      />
    </div>
    <div class="form-group row">
      <input
        required
        type="text"
        id="website"
        ngModel
        name="website"
        placeholder="Website"
        class="form-control col-6 m-2"
      />
    </div>
    <div class="form-group row">
      <input
        required
        type="text"
        id="address"
        ngModel
        name="address"
        placeholder="Address"
        class="form-control col-6 m-2"
      />
    </div>
    <div class="form-group row">
      <input
        required
        type="number"
        id="meetingTime"
        ngModel
        name="meetingTime"
        placeholder="Meeting time"
        class="form-control col-6 m-2"
      />
    </div>
    <div class="form-group row">
      <input
        required
        type="text"
        id="meetingPlace"
        ngModel
        name="meetingPlace"
        placeholder="Meeting place"
        class="form-control col-6 m-2"
      />
    </div>

    <div>
      <button
        type="submit"
        class="btn btn-primary col-5 m-2"
        [disabled]="!addClub.valid"
      >
        Save
      </button>
      <button
        type="button"
        class="btn btn-secondary col-5 m-2"
        (click)="goBack()"
      >
        Cancel
      </button>
    </div>
  </form>
</div>

<router-outlet></router-outlet>
